<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-md-6 col-12 text-left" [ngClass]="{'text-center': innerWidth < 500}">
      <h1>Lista de Tarefas</h1>
    </div>
    <div class="col-md-6 col-12 text-right" [ngClass]="{'mt-4': innerWidth < 500}">
      <button type="button" class="btn btn-primary" (click)="showModal()">Criar Lista de Tarefas</button>
    </div>
  </div>

  <div class="row list">
    <div class="col-10 col-md-11 list__title">
      <div class="side-icon"><i class="fas fa-list"></i></div>
      <span class="ml-md-4 ml-2">Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho TrabalhoTrabalhoTrabalho Trabalho Trabalho Trabalho Trabalho</span>
    </div>
    <div class="col-2 col-md-1 text-right">
      <div class="dropdown dropleft">
        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item"><i class="fas fa-eye mr-1"></i> Ver Lista</a>
          <a class="dropdown-item"><i class="fas fa-trash-alt mr-1"></i> Apagar Lista</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row list">
    <div class="col-10 col-md-11 list__title">
      <div class="side-icon"><i class="fas fa-list"></i></div>
      <span class="ml-md-4 ml-2">Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho Trabalho TrabalhoTrabalhoTrabalho Trabalho Trabalho Trabalho Trabalho</span>
    </div>
    <div class="col-2 col-md-1 text-right">
      <div class="dropdown dropleft">
        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item"><i class="fas fa-eye mr-1"></i> Ver Lista</a>
          <a class="dropdown-item"><i class="fas fa-trash-alt mr-1"></i> Apagar Lista</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-list-modal></app-list-modal>
