/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
// regular style toast 
@import '~ngx-toastr/toastr';
@import 'src/assets/sass/variables';

body {
  background-color: $background_color;
}

.dropdown-item {
  &:active {
    background-color: #999eab;
  }
}

.modal {
  display: block;

  &-content {
    background-color: $primary_color;
  }
  &-header, &-footer {
    border: none;
  }
}

.btn-primary {
  background-color: $color_purple;
  border-color: $color_purple;

  &:not(:disabled):not(.disabled):active, &:hover, &:focus, &:active {
    background-color: darken($color_purple, 20);
    border-color: darken($color_purple, 20);
    box-shadow:  0 0 0 0.2rem $color_purple;
  }
}

button {
  &:focus {
    outline: none;
  }
}

h1 {
  color: $primary_color;
  font-size: 2em;
}
